* {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.footer{
    color: #e9e9e9;
}

.faculty1{
    min-height: 100vh;
}

.Card2{
    padding: 20px;
    display: flex;
    justify-content: center;
    /* background-color: rgb(237, 237, 237); */
}

.Card1 {
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: rgb(237, 237, 237);
}

.Card-Details {
    padding: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 2px #e9e9e9;
    border-radius: 15px;
}
.Card-Details2 {
    padding: 20px;
    text-align: center;
    background-color: white;
    border:1px solid black;
    /* box-shadow: 2px 2px 2px #e9e9e9; */
    border-radius: 15px;
}

.Card-Details:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
     /* transform: translate(12px 12px); */
    /* filter: drop-shadow(0 0 3.5px #b7b7b7); */
}

.content {
    text-align: center;
    display: flex;
    justify-content: center;
}

.Role {
    font-size: 12px;
    color: crimson;
}

.Education {
    font-size: 12px;
}

hr {
    margin: 10px;
}

.Name {
    font-size: 18px;
    font-weight: 600;
}

.OtherTitle {
    font-size: 12px;
}

.sinceData {
    background-color: rgb(222, 222, 222);
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
    margin: 2px;
    font-size: 14px;
    font-weight: 600;
    width: max-content;
}

.ExpData1 {
    background-color: rgb(201, 240, 255);
    padding: 10px;
    border-radius: 4px;
    margin: 2px;
    color: rgb(0, 134, 186);
    font-size: 14px;
    font-weight: 600;
    width: max-content;
}

/* 
.profile img {
    height: 240px;
    width: 240px;
    object-fit: cover;
} */

.Data {
    margin-top: 20px;
}